* {
    box-sizing: border-box;
  }
  
  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .colors {
  position: fixed;
  }
  
  .color {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 25px;
    margin: 3px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: #F5260A; }
  .color.green { background-color: #2CBC07; }
  .color.blue { background-color: #0A74F5; }
  .color.yellow { background-color: yellow; }
  .color.orange { background-color: #F78E06; }
  .color.purple { background-color: #B60BCB; }
  .color.pink { background-color: #F345B7; }
  .color.brown { background-color: #682603; }
