.column{
  /*width: 400px;
  height: 730px;*/
  margin: 0 auto;
  /*margin-top: 40px;
  padding: 25px;*/

}
#chatWindow {
  background-color: #ff982b;
  margin-top: 40px;
  padding: 0 25px 25px 25px;
  width: 400px;
  height: 730px;
}
#chatButton {
  background-color: black;
  margin: 10px, auto , 10px, auto;
}
label {
  font-family: 'Comfortaa', cursive !important; 
}
input[type=text] {
  background-color: white;
  font-family: 'Comfortaa', cursive !important;
}
#nameField, #messageField {
  padding-top: 10px;
}
#chatLog {
  background-color: white;
  overflow-y: scroll;
  max-height: 335px;
  height: 100%;
}
#chatHeader {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  padding: 7px 0 0 0;
  font-size: 40px

}
#chatBody {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Comfortaa', cursive;
}
#logHeader {
  background-color: white;
  font-family: 'Comfortaa', cursive;
  font-size: x-large;
  text-align: center;
  margin-bottom: 0;
  padding-top: 7px;
}