:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  
  body {
    margin: 50px;
    background-position: fixed;
  }
  
  p {
    line-height: 1.6em;
  }
  
  .tools {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  
  input[type=number] {
    width: 50px;
  }
  .dashboard {
    align-content: center;
    margin: 0px;
  }
  .artboard {
    display: flex;
  }
  .picker {
    margin: 10px;
    font-family: 'Fredoka One', cursive; 
  }
  .canvas {
  background-color: black;
  width: 465px;
  padding: 7px;
  }
  .header {
    font-family: 'Comfortaa', cursive;
    text-align: center;
  }
  button {
    margin: 10px;
    font-family: 'Comfortaa', cursive;
  }